* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* =============== CSS Variables =============== */
:root {
    --bg-color: #ffffff;
    --text-color: #000000;
    --light-gray: #f2f2f2;
    --medium-gray: #d9d9d9;
    --dark-gray: #333333;
    --font-stack: 'Inter', sans-serif;
    --grid-gap: 20px;
    --transition-speed: 0.3s;
}

/* =============== Typography =============== */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-stack);
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 0.5em;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: var(--font-stack);
    line-height: 1.4;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 20px;
}


/* =============== Nav Bar =============== */
header {
    padding: 20px 0;
    border-bottom: 1px solid var(--light-gray);
    margin-bottom: 30px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--text-color);
    text-decoration: none;
    letter-spacing: 1px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 0.9rem;
    font-weight: 500;
    /* transition: opacity var(--transition-speed) ease; */
}

.nav-links a:hover {
    opacity: 0.7;
}

/* =============== Search Box =============== */

.search-box {
    position: absolute;
    right: 0;
    top: 100%;
    width: 300px;
    padding: 10px;
    background-color: var(--bg-color);
    border: 1px solid var(--medium-gray);
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: none;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: all var(--transition-speed) ease;
    z-index: 10;
}

.search-box.active {
    display: block;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.search-input {
    width: 100%;
    padding: 8px 10px;
    border: 1px solid var(--medium-gray);
    font-family: var(--font-stack);
    font-size: 0.9rem;
}

/* Responsive Styles */
/* @media screen and (max-width: 738px) {
    .menu-toggle {
      display: block;
    }

    .explore-nav {
      display: block;
    }

    .nav-links {
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      background: var(--bg-color);
      flex-direction: column;
      align-items: center;
      padding: 10px 0;
      display: none;
    }

    .nav-links li {
      margin: 0.5rem 0;
    }

    .nav-links.active {
      display: flex;
    }
} */